################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/back_end/.vs/back_end/CopilotIndices/17.14.1231.31060/CodeChunks.db
*.vsidx
*.v2
