################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/back_end/.vs/back_end/FileContentIndex
/back_end/.vs/back_end/v17/
/back_end/bin/Debug/net8.0/
/back_end/.vs/back_end/CopilotIndices/
*.vsidx
*.v2
/back_end/.vs/back_end/CopilotIndices/17.14.1231.31060/CodeChunks.db-shm
/back_end/.vs/back_end/CopilotIndices/17.14.1231.31060/CodeChunks.db-wal
/back_end/.vs/back_end/CopilotIndices/17.14.1231.31060/SemanticSymbols.db
/back_end/.vs/back_end/CopilotIndices/17.14.1231.31060/SemanticSymbols.db-shm
/back_end/.vs/back_end/CopilotIndices/17.14.1231.31060/SemanticSymbols.db-wal
/back_end/.vs/back_end/v17/.suo
/back_end/.vs/back_end/v17/DocumentLayout.json
*.json
/back_end/obj/Debug/
/back_end/obj/Debug/net8.0/rpswa.dswa.cache.json
/back_end/obj/Debug/net8.0/ApiEndpoints.json
/back_end/obj/Debug/net8.0/back_end.csproj.CoreCompileInputs.cache
/back_end/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/back_end/obj/Debug/net8.0/staticwebassets.build.json
/back_end/obj/Debug/net8.0/staticwebassets.build.json.cache
/back_end/.vs/back_end/v17/DocumentLayout.backup.json
/back_end/.vs/back_end/DesignTimeBuild/.dtbcache.v2
/back_end/back_end.csproj.user
