################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/back_end/.vs/back_end/CopilotIndices/
*.vsidx
*.v2
/back_end/.vs/back_end/CopilotIndices/17.14.1231.31060/CodeChunks.db-shm
/back_end/.vs/back_end/CopilotIndices/17.14.1231.31060/CodeChunks.db-wal
/back_end/.vs/back_end/CopilotIndices/17.14.1231.31060/SemanticSymbols.db
/back_end/.vs/back_end/CopilotIndices/17.14.1231.31060/SemanticSymbols.db-shm
/back_end/.vs/back_end/CopilotIndices/17.14.1231.31060/SemanticSymbols.db-wal
/back_end/.vs/back_end/v17/.suo
/back_end/.vs/back_end/v17/DocumentLayout.json
